.button-menu {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 15px 8px;
    font-size: 12px;
    background: #F8F8F8;
    color: #333;
    border: 0px none;
    outline: 0px none;
    border-bottom: 1px solid #e5e5e5;
    float: left;
    transition: 1s;
    width: 100%;
    text-transform: capitalize;
}

.button-menu:hover {
    background: #F4CF69;
    color: #F8F8F8;
}
.button-menu-active {
    background: #A5DF00;
    color: #888;
}