<?xml version="1.0"?>
<!DOCTYPE beans PUBLIC
        "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!--<property name="url" value="jdbc:mysql://localhost:3306/os000353_rentas?autoReconnect=true"/>-->
        <!--<property name="username" value="os000353_fberon"/>-->
        <!--<property name="password" value="B0livar01"/>-->

        <!--<property name="url" value="jdbc:mysql://localhost:3306/os000353_rentas?autoReconnect=true"/>-->
        <!--<property name="username" value="root"/>-->
        <!--<property name="password" value="F3d3ric0!"/>-->

        <property name="url" value="jdbc:mysql://localhost:3306/rentas?autoReconnect=true"/>
        <property name="username" value="rentas"/>
        <property name="password" value="rentas"/>
        <!--<property name="url" value="jdbc:mysql://localhost:3306/rentas?autoReconnect=true"/>-->
        <!--<property name="username" value="rentas"/>-->
        <!--<property name="password" value="rentas"/>-->
    </bean>


    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class=" org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource">
            <ref bean="dataSource"/>
        </property>

        <property name="mappingResources">
            <list>
                <value>com/eBolivar/hbconfig/Banner.hbm.xml</value>
                <value>com/eBolivar/hbconfig/Barrios.hbm.xml</value>
                <value>com/eBolivar/hbconfig/Calles.hbm.xml</value>
                <value>com/eBolivar/hbconfig/CredencialAutenticacionAFIP.hbm.xml</value>
                <value>com/eBolivar/hbconfig/Dependencia.hbm.xml</value>
                <value>com/eBolivar/hbconfig/Departamentos.hbm.xml</value>
                <value>com/eBolivar/hbconfig/DetalleFactura.hbm.xml</value>
                <value>com/eBolivar/hbconfig/Domicilio.hbm.xml</value>
                <value>com/eBolivar/hbconfig/Espacio.hbm.xml</value>
                <value>com/eBolivar/hbconfig/EstadoDeTasa.hbm.xml</value>
                <value>com/eBolivar/hbconfig/GuiaTramite.hbm.xml</value>
                <value>com/eBolivar/hbconfig/Impuesto.hbm.xml</value>
                <value>com/eBolivar/hbconfig/Localidades.hbm.xml</value>
                <value>com/eBolivar/hbconfig/Metadata.hbm.xml</value>
                <value>com/eBolivar/hbconfig/Parametro.hbm.xml</value>
                <value>com/eBolivar/hbconfig/Persona.hbm.xml</value>
                <value>com/eBolivar/hbconfig/PersonaReturn.hbm.xml</value>
                <value>com/eBolivar/hbconfig/PasoGuiaTramite.hbm.xml</value>
                <value>com/eBolivar/hbconfig/TipoImpuesto.hbm.xml</value>
                <value>com/eBolivar/hbconfig/TipoEspacio.hbm.xml</value>
                <value>com/eBolivar/hbconfig/TipoGuiaTramite.hbm.xml</value>
                <value>com/eBolivar/hbconfig/NotificacionPadron.hbm.xml</value>
                <value>com/eBolivar/hbconfig/NotificacionPorBien.hbm.xml</value>
            </list>
        </property>

        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.c3p0.min_size">1</prop>
                <prop key="hibernate.c3p0.max_size">80</prop>
                <prop key="hibernate.c3p0.timeout">2000</prop>
                <prop key="hibernate.c3p0.max_statements">50</prop>
                <prop key="hibernate.jdbc.batch_size">20</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>


    <!-- DAO'S -->

    <bean id="bannerDao"
          class="com.eBolivar.dao.BannerDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="barriosDao"
          class="com.eBolivar.dao.BarriosDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="callesDao"
          class="com.eBolivar.dao.CallesDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="consultaDao"
          class="com.eBolivar.dao.ConsultasDaoHinernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="departamentosDao"
          class="com.eBolivar.dao.DepartamentosDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="detalleFacturaDao"
          class="com.eBolivar.dao.DetalleFacturaDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="espacioDao"
          class="com.eBolivar.dao.EspacioDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="guiaTramiteDao"
          class="com.eBolivar.dao.GuiaTramiteDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="impuestoDao"
          class="com.eBolivar.dao.ImpuestoDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="localidadesDao"
          class="com.eBolivar.dao.LocalidadesDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>


    <bean id="notificacionPadronDao"
          class="com.eBolivar.dao.NotificacionPadronDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="notificacionPorBienDao"
          class="com.eBolivar.dao.NotificacionPorBienDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>


    <bean id="parametroDao"
          class="com.eBolivar.dao.ParametroDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="pasoGuiaTramiteDao"
          class="com.eBolivar.dao.PasoGuiaTramiteDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="tipoEspacioDao" class="com.eBolivar.dao.TipoEspacioDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <bean id="tipoImpuestoDao"
          class="com.eBolivar.dao.TipoImpuestoDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>


    <bean id="tipoGuiaTramiteDao"
          class="com.eBolivar.dao.TipoGuiaTramiteDaoHibernateImpl">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>


</beans>